.tinderCards__empty {
	transform: rotate(-20deg);
	font-size: 3rem;
	text-transform: uppercase;
	border: 10px solid red;
	padding: 8px;
	margin-top: 120px;
}

.tinderCards__container {
	display: flex;
	justify-content: center;
}

.right-exit {
	transform: scale(0.8) rotateZ(0deg);
}

.right-exit-active {
	transform: scale(1.1) translate(500px, -150px) rotateZ(20deg);
	transition: all 500ms ease-out;
}

.left-exit {
	transform: scale(0.8) rotateZ(0deg);
}

.left-exit-active {
	transform: scale(1.1) translate(-500px, -150px) rotateZ(-20deg);
	transition: all 500ms ease-out;
}

.tinderCards__swipe {
	position: absolute;
	z-index: 6;
}
